<!DOCTYPE html>
<html>
<head>
  <title>TaskTamer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <div class="page-container">
    <!-- Sidebar -->
    <div class="sidebar">
      <%= render 'shared/sidebar_content' %>
    </div>

    <!-- Main content area -->
    <div class="main-content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
